[user]
	email = scott_karana@hotmail.com
	name = Scott Paeth
[core]
	excludesfile = ~/.gitignore_global

[color]
	ui = auto

[alias]
	lg = log --graph --oneline --decorate
	st = status

[diff]
	renames = copies # Figure out copies as well as renames for dedup

# TODO: set init.templatedir with my commit-msg?
